<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVC - All Personnes</title>
</head>
<body>
<h1>All Personnes</h1>
<ul>
    <!--<li th:each="personne : ${elements}" th:text="${personne.nom}"></li>-->
<!--    <li th:each="personne : ${elements}" th:text="${#strings.concat(personne.nom, ' : ', personne.telephone)}"></li>-->
    <li th:each="personne : ${elements}" th:inline="text"> [[${personne.nom}]] : [[${personne.telephone}]]
        <a th:href="@{'/personnes/'+ ${personne.id}}">Modifier</a>
        <a th:href="@{'/personnes/delete/'+ ${personne.id}}">Supprimer</a>
    </li>
</ul>
<a href="/personnes/0">Ajouter</a>
</body>
</html>
